doctype html
html
	head
		title LogIn Panel
		link(rel="stylesheet", type="text/css", href="/static/style.css")
	body
		div.container
			h1.welcome-text Click button below to login
			a(href="/auth/google").welcome-btn Login
